# Created by https://www.toptal.com/developers/gitignore/api/code,react
# Edit at https://www.toptal.com/developers/gitignore?templates=code,react

### Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/code,react